.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin: 100px;
}

.error-container h1 {
  font-family: Montserrat;
  color: #ff6060;
  font-size: 288px;

  @media (max-width: 768px) {
    font-size: 96px;

  }
}

.error-container p {
  font-family: Montserrat;
  color: #ff6060;
  font-size: 36px;
  margin: 0;
  padding: 0;

  @media (max-width: 768px) {
    font-size: 14px;
    width: 180px;
    text-align: center;
  }
}

.error-link {
  font-family: Montserrat;
  color: #000000;
  font-size: 18px;

  @media (max-width: 768px) {
    font-size: 12px;
    text-align: center;
  }
}