body {
  font-family: "Montserrat", sans-serif;
  max-width: 1440px;
  margin: 0 auto; 
}
.property-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }
}

.property-info h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 36px;
  margin: 0;
  color: #ff6060;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.left {
  max-width: 60%;
  
  @media (max-width: 768px) {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}


.location {
  color: #000000;
  font-weight: 500;
  font-size: 18px;

  @media (max-width: 768px) {
    font-size: 14px;
    
  }
}

.tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;

  
  @media (max-width: 480px) {
    flex-wrap: nowrap;
    overflow-x: auto;
    max-width: 100%;
    padding-bottom: 5px;

  }
  
}

.tag {
  background-color: #ff6060;
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 0.8rem;
  white-space: nowrap;
  border-radius: 5px;

  

  @media (max-width: 480px) {
    font-size: 0.7rem;
    padding: 3px 8px;
  }
  
}
.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px; 

  @media (max-width: 768px) {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: 480px) {

    align-items: flex-start;
    gap: 30px;
    
  }
  
}

.host {
  display: flex;
  align-items: center;
  gap: 10px;
}

.host-name {
  font-size: 0.9rem;
  text-align: right;
  font-weight: 600;
  color: #ff6060;
  font-size: 18px;

  @media (max-width: 768px){
    font-size: 12px;
  }
}

.host-img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;

  @media (max-width: 768px) {
    width: 32px;
    height: 32px;
  }
}
.rating {
  display: flex;
  gap: 5px;


  @media (max-width: 768px) {
   
    align-items: center;
    margin: 10px 0;
   
  }
 
}

.star img {
  width: 20px;
  height: 20px;
}


.collapse-section {
  margin-top: 40px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;

  @media (max-width: 480px){
    gap: 5px;
  }
  
}

.collapse-section .collapse {
  flex: 1;
  min-width: 300px;

}
